@page "/"

@* only pull in the tag helpers we need *@
@addTagHelper "Microsoft.AspNetCore.Mvc.TagHelpers.LinkTagHelper, Microsoft.AspNetCore.Mvc.TagHelpers"

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>let's grow some things</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <h1>let's grow some things</h1>
    </header>

    <section class="intro">
        <p>This is a small website to track the seeds growing in the basement over time.</p>
    </section>

    <h2>live snapshot</h2>

    <section class="snapshot">
        <img src="/latest/image" />

        <p>if it's dark, they're probably sleeping. check back later.</p>
    </section>

    <h2>what plants are in the picture?</h2>

    <section class="graphic">
        <div class="mat">
            <div class="column">
                <div class="pod">
                    <div class="half-pod eucalyptus-baby-blue">
                        <div class="half-pod-ref">1</div>
                    </div>
                    <div class="half-pod purple-peppers">
                        <div class="half-pod-ref">2</div>
                    </div>
                </div>
                <div class="pod habanero-orange-pepper">
                    <div class="pod-ref">3</div>
                </div>
            </div>
            <div class="column">
                <div class="pod dahlia">
                    <div class="pod-ref">4</div>
                </div>
                <div class="pod poblano">
                    <div class="pod-ref">5</div>
                </div>
            </div>
             <div class="column">
                <div class="pod cucamelon">
                    <div class="pod-ref">6</div>
                </div>
                <div class="pod tomato-mix">
                    <div class="pod-ref">7</div>
                </div>
            </div>
            <div class="column">
                <div class="pod peppers">
                    <div class="pod-ref">8</div>
                </div>
                <div class="pod">
                    <div class="half-pod tomato-large">
                        <div class="half-pod-ref">9</div>
                    </div>
                    <div class="half-pod eggplant">
                        <div class="half-pod-ref">10</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="legend">
            <div class="item">
                <p><strong>1</strong>. Eucalyptus - started Feburary 26</p>
            </div>
            <div class="item">
                <p><strong>2</strong>. Buena Mulata Peppers - started Feburary 26</p>
            </div>
            <div class="item">
                <p><strong>3</strong>. Habanero Orange Peppers - started March 6</p>
            </div>
            <div class="item">
                <p><strong>4</strong>. Dahlia - started April 3</p>
            </div>
            <div class="item">
                <p><strong>5</strong>. Poblano Peppers - started March 21</p>
            </div>
            <div class="item">
                <p><strong>6</strong>. Cucamelon - started March 21</p>
            </div>
            <div class="item">
                <p><strong>7</strong>. Cherry Tomatoes - started March 21</p>
            </div>
            <div class="item">
                <p><strong>8</strong>. Peppers mixture - jalapenos, sweet apple, hot wax - started March 28</p>
            </div>
            <div class="item">
                <p><strong>9</strong>. Tomatoes - started March 28</p>
            </div>
            <div class="item">
                <p><strong>10</strong>. Eggplant - started March 28</p>
            </div>

        </div>
    </section>

    <footer>
        <p> a <a href="brendanforster.com">@@shiftkey</a> hack project</p>
    </footer>
</body>

</html>
