@page "/"

@* only pull in the tag helpers we need *@
@addTagHelper "Microsoft.AspNetCore.Mvc.TagHelpers.LinkTagHelper, Microsoft.AspNetCore.Mvc.TagHelpers"

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>let's grow some things</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <h1>let's grow some things</h1>
    </header>

    <section class="intro">
        <p>This is a little frontend that I'm using to track the seeds growing in the basement over time.</p>
    </section>

    <h2>live snapshot</h2>

    <section class="snapshot">
        <img src="/latest/image" />
    </section>

    <h2>what's on the bed currently?</h2>

    <section class="graphic">
        <div class="mat">
            <div class="column">
                <div class="pod">
                    <div class="half-pod">
                        <div class="half-pod-ref">1</div>
                    </div>
                    <div class="half-pod">
                        <div class="half-pod-ref">2</div>
                    </div>
                </div>
                <div class="pod">
                    <div class="pod-ref">3</div>
                </div>
            </div>
            <div class="column">
                <div class="pod">
                    <div class="pod-ref">4</div>
                </div>
            </div>
        </div>
        <div class="legend">
            <div class="item">
                <p><strong>1</strong>. Eucalyptus - started Feburary 26</p>
            </div>
            <div class="item">
                <p><strong>2</strong>. Buena Mulata Peppers - started Feburary 26</p>
            </div>
            <div class="item">
                <p><strong>3</strong>. Habanero Orange Peppers - started March 6</p>
            </div>
            <div class="item">
                <p><strong>4</strong>. Milkweed - started March 6</p>
            </div>
        </div>
    </section>
</body>

</html>
