<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Let's Grow</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    <header>
        <h1>let's grow some things</h1>
    </header>

    <section class="intro">
        <p>This is a little frontend that I'm using to track the seeds growing in my basement.</p>
    </section>

    <section class="snapshot">
        <img src="/latest/image" width="800" />
    </section>
</body>
</html>
