<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Let's Grow</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    <h1>Coming Soon :tm:</h1>

    <img src="/latest/image" width="800" />
</body>
</html>
