/* Adapting from https://stock.adobe.com//80715506/ */
/* 
.Lettuce-crops-in-greenhouse-1-hex { color: #1A2601; }
.Lettuce-crops-in-greenhouse-2-hex { color: #465902; }
.Lettuce-crops-in-greenhouse-3-hex { color: #C9D991; }
.Lettuce-crops-in-greenhouse-4-hex { color: #A9BF04; }
.Lettuce-crops-in-greenhouse-5-hex { color: #93A603; }
 */

body {
    margin: 0 2vw;
    background-color: #C9D991;
    color: #1A2601;
    font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
}

header,
footer {
    text-align: center;
}

h1,
h2,
h3 {
    color: #465902;
}

section.intro {
    display: flex;
    justify-content: center;
}

h2 {
    text-align: center;
}

section.snapshot {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3vh 0;
}

section.snapshot img {
    max-width: 100%;
    display: block;
}

section.graphic {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mat {
    background: grey;
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.pod {
    border-radius: 10px;
    width: 12vh;
    height: 12vh;
    margin: 0.6vh
}

.half-pod {
    height: 5vh;
    margin: 0.6vh;
    background: burlywood;
    border: 2px solid burlywoodbrown;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

.pod, .half-pod {
    background-position-x: center;
}

.pod-ref {
    color: white;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    line-height: 14vh;
    font-size: x-large;
}

.half-pod-ref {
    line-height: 6vh;
    color: white;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    font-size: x-large;
}

.purple-peppers {
    background-image: url('/images/buena-mulata.png');
    
}

.eucalyptus-baby-blue {
    background-image: url('/images/eucalyptus-baby-blue.png');
}

.habanero-orange-pepper {
    background-image: url('/images/habanero-orange-pepper.png');
    background-position-x: left;
}

.milkweed {
    background-image: url('/images/milkweed.png');
}

.poblano {
    background-image: url('/images/poblano.png');
    background-position-x: right;
    background-position-y: center;
}

.cucamelon {
    background-image: url('/images/cucamelon.png');
}

.tomato-mix {
    background-image: url('/images/tomato-mix.png');
    background-position-x: right;
    background-position-y: center;
}

.peppers {
    background-image: url('/images/jalapeno.png');
    background-position-x: right;
    background-position-y: center;
}

.tomato-large {
    background-image: url('/images/tomatoes-large.png');
    background-position-x: right;
    background-position-y: center;
}

.eggplant {
    background-image: url('/images/eggplant.png');
    background-position-x: right;
    background-position-y: center;
}