/* Adapting from https://stock.adobe.com//80715506/ */
/* 
.Lettuce-crops-in-greenhouse-1-hex { color: #1A2601; }
.Lettuce-crops-in-greenhouse-2-hex { color: #465902; }
.Lettuce-crops-in-greenhouse-3-hex { color: #C9D991; }
.Lettuce-crops-in-greenhouse-4-hex { color: #A9BF04; }
.Lettuce-crops-in-greenhouse-5-hex { color: #93A603; }
 */

body {
    margin: 0 2vw;
    background-color: #C9D991;
    color: #1A2601;
    font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
}

header {
    text-align: center;
}

h1,
h2 {
    color: #465902;
}

section.intro {
    display: flex;
    justify-content: center;
}

h2 {
    text-align: center;
}

section.snapshot {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 3vh 0;
}

section.snapshot img {
    max-width: 100%;
    display: block;
}

section.graphic {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mat {
    background: grey;
    width: 100%;
    max-width: 660px;
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.pod {
    background: brown;
    border: 2px solid brown;
    border-radius: 5px;
    width: 14vh;
    height: 14vh;
    margin: 1vh
}

.half-pod {
    height: 6vh;
    margin: 0.75vh 0.5vh 0.75vh 0.5vh;
    background: burlywood;
    border: 2px solid burlywoodbrown;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

.pod-ref {
    color: white;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    line-height: 14vh;
    font-size: x-large;
}

.half-pod-ref {
    line-height: 6vh;
    color: white;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    font-size: x-large;
}