name: Build

on:
  pull_request:
    branches:
    - main

jobs:
  ci:
    name: Continuous Integration
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '8.x'
      - run: dotnet build -c Release
